NEXT_PUBLIC_FIREBASE_API_KEY=
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=ks1j-8a2e3.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=ks1j-8a2e3
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=ks1j-8a2e3.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=874901866220
NEXT_PUBLIC_FIREBASE_APP_ID=
